footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #ffdf80;
    width: 100%;
    padding: 0 0 13px 13px;
    font-size: 20px;
}

#developer {
    display: inline;
    left: 0;
}

#developer-github {
    display: flex;
    gap: 20px;
}

#contact {
    text-align: end;
}