.level {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #ffdf80;
    margin-bottom: 20px;
    font-size: 20px;
}

.timer {
    display: inline;
}

.score {
    display: block;
    text-align: center;
    color: #ffdf80;
    margin-bottom: 20px;
    font-size: 20px;
}