body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #000000;
}

h1 {
    text-align: center;
    color: #ffdf80;
    margin: 20px 0;
    font-size: 30px;
}

button {
    background-color: #000000;
    color: #ffdf80;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
}

a {
    color: #ffdf80;
    text-decoration: none;
}

.simon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #767676;
    width: 25vw;
    height: 25vw;
    min-width: 350px;
    min-height: 350px;
    border-radius: 3vw;
    margin-top: 15px;
}

.simon_btn {
    display: block;
    width: 10vw;
    height: 10vw;
    min-width: 140px;
    min-height: 140px;
    border-radius: 2vw;
    border: 2px solid #000000;  
    margin: 1vw;
}

#green-btn {
    background-color: #33cc33;
}

#red-btn {
    background-color: #ff0000;
}

#yellow-btn {
    background-color: #ffff00;
}

#blue-btn {
    background-color: #0066ff;
}

#green-btn.highlight {
    background-color: #adebad;
}

#red-btn.highlight {
    background-color: #ff9999;
}

#yellow-btn.highlight {
    background-color: #ffff99;
}

#blue-btn.highlight {
    background-color: #99c2ff;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls button:hover {
    background-color: #ffdf80;
    color: #000000;
}