/*Reglas en html
los espacios de las clases van con _ (ion bajo)
los espacios de los id van con - (ion medio)
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

h1 {
    margin: 20px 0;
    text-align: center;
    color: #ffdf80;
    font-size: 30px;
}

button {
    margin: 20px;
    padding: 15px;
    background-color: #000000;
    font-size: 15px;
    color: #ffdf80;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Level*/

.level {
    color: #ffdf80;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}

.simon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #767676;
    width: 25vw;
    height: 25vw;
    min-width: 350px;
    min-height: 350px;
    border-radius: 3vw;
    margin-top: 15px;
}

.simonBtn {
    display: block;
    width: 10vw;
    min-width: 140px;
    height: 10vw;
    min-height: 140px;
    margin: 1vw;
    border-radius: 2vw;
    border: 2px solid #000000;  
}

#greenBtn {
    background-color: #33cc33;
}
#redBtn {
    background-color: #ff0000;
}
#yellowBtn {
    background-color: #ffff00;
}
#blueBtn {
    background-color: #0066ff;
}

#greenBtn.highlight {
    background-color: #adebad;
}
#redBtn.highlight {
    background-color: #ff9999;
}
#yellowBtn.highlight {
    background-color: #ffff99;
}
#blueBtn.highlight {
    background-color: #99c2ff;
}

/*Buttons new game and restart game*/

.botones button {
    margin: 0 15px;
    border: none;
    background-color: inherit;
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 15px;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls button:hover {
    background-color: #ffdf80;
    color: #000000;
}

/*Score*/

.score {
    color: #ffdf80;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}


/*Modals*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: none;
}

.modal_container {
    margin: auto;
    width: 40vw;
    background-color: #ffdf80;
    border-radius: 6px;
    padding: 30px;
    display: block;
    text-align: center;
}

.modal_title {
    font-size: 30px;
    padding-bottom: 15px;
}

.modal_paragraph {
    font-size: 20px;
    padding: 15px;
}

.modal_error {
    font-size: 20px;
    padding: 15px;
    color: #ff0000;
    display: none;
}

.show_error {
    display: block;
}

.modal_button {
    font-size: 20px;
    background-color: #ffdf80;
    color: #000000;
    margin: 20px 0 0;
}

.modal_button:hover {
    background-color: #000000;
    color: #ffdf80;
}

.show_modal {
    display: flex;
}

#player-name {
    font-size: 20px;
    background-color: #ffdf80;
    color: #000000;
    border: 2px solid #767676;
    outline: none;
}
